/studio/samkenxstream@supabase/frontend
/apps/www/samkenxstream@supabase/frontend
/apps/docs/samkenxstream@supabase/docs
/spec/samkenxstream@supabase/docs
/docker/samkenxccore-engine-kapricorn@supabase/cli
